.home-container-1{
    max-width: 1496px;
    width: 100%;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-container-1 h1 {
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,to{border-color: transparent }
    50% {border-color: orange ;}
}